{% extends 'template.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}
        Parola Güncelleme
        {% endblock title %}
    </title>
</head>
<body>

    {% block content %}
    <div class="container mt-5">
           <center>
            <form class="change-pass" id="ChangePass">
                {% csrf_token %}
                <h3>Parola'nı Güncelle</h3>
                <hr>
                <div class="form-group">
                    <input type="password" class="form-control" id="inputone" placeholder="Yeni Parola">
                </div>
                <div class="form-group mt-4">
                    <input type="password" class="form-control" id="inputtwo" placeholder="Yeni Parola'yı Onayla">
                </div>
                <div class="form-group mt-4">
                    <input type="submit" class="btn btn-dark" value="Güncelle">
                    <a href="{% url 'Account' %}" class="btn btn-secondary">İptal</a>
                </div>
            </form>
           </center>
    </div>
    <script
    src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
    <script>
        $('.change-pass').submit(function(e){
        e.preventDefault();
        passwordone =document.querySelector('#inputone')
        passwordtwo = document.querySelector('#inputtwo')
        $.ajax({
            type: "POST",
            url: "/ChangePassword/",
            data: {
                'PasswordOne' : $('#inputone').val(),
                'PasswordTwo' : $('#inputtwo').val(),
                'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(msg){
                if(msg.msg =="true"){
                    Swal.fire(
                        {
                            icon: 'success',
                            title: 'Harika',
                            text: 'Şifren başarılı bir şekilde güncellendi.\nŞimdi seni giriş ekranına yönlendiriyoruz',
                            confirmButtonText : "Kapat",
                        }   
                        )
                        passwordone.value = ""
                        passwordtwo.value = ""

                }
                else if(msg.msg == "false"){
                    Swal.fire(
                        {
                            icon: 'error',
                            title: 'Hmm',
                            text: 'Şifreler uyuşmuyor.Daha dikkatli ol!',
                            confirmButtonText : "Kapat",
                        }   
                        )
                }
                else{

                }
            }
            ,
            error:function(){
                Swal.fire(
                        {
                            icon: 'error',
                            title: 'Üzgünüm',
                            text: 'Bizden kaynaklı bir hata yüzünden işlemi tamamlayamadık.Daha sonra tekrar dene!',
                            confirmButtonText : "Kapat",
                        }   
                        )
            }
            })
    })
    </script>
    {% endblock content %}
    
</body>
</html>