
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Şifreni Sıfırla</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
        integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="crossorigin="anonymous"
        />

    </head>
    <body>

        <div class="wrapper">
            <form method="POST" action="{% url 'password_reset_done' %}" name="Login_Form"
                class="form-signin">
                {% csrf_token %}
                <h2 class="form-signin-heading">Şifre Sıfırlama</h2>
                <hr class="colorgraph">
                <br>

                <input type="email" id="Email" aria-autocomplete="false" autocomplete="false"
                    placeholder="E-Posta Adresin" required="true" autofocus="true"
                    />
                <button class="btn-block" id="LoginButton"
                    name="Submit" value="Login" type="Submit" title="Hesabına Giriş Yap">Gönder</button>
            </form>

        </div>



        <script src="https://kit.fontawesome.com/326457a07e.js"
            crossorigin="anonymous"></script>
        <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="crossorigin="anonymous"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"
            integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw=="crossorigin="anonymous"></script>
        <script src="{% static 'js/bootstrap.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
</html>
