
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Giriş Yap</title>
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
            integrity="sha512-3pIirOrwegjM6erE5gPSwkUzO+3cTjpnV9lexlNZqvupR64iZBnOOTiiLPb9M36zpMScbmUNIcHUqKD47M719g=="crossorigin="anonymous"
            />

    </head>
    <body>

        <div class="wrapper h-100">
            <form method="POST" name="Login_Form"
                class="form-signin">
                {% csrf_token %}
                <h2 class="form-signin-heading">Şifre Sıfırlama</h2>
                <hr class="colorgraph">
                <br>
                <input type="email" name="email" id="Email" placeholder="E-Posta Adresin">
                <button class="btn-block" id="LoginButton" type="Submit" title="Şifre Sıfırlama İsteği">Devam Et</button>
            </form>
        </div>

        <script src="{% static 'js/bootstrap.js'%}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    </body>
</html>
