{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<style>
		#ReturnLogin{
			background-color: #4F5F7A;
			border: none;
			padding: 15px 15px;
			border-radius: 6px;
			color: white;
			text-decoration: none;
			width: 50%;
	}
	</style>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Başarılı</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<body>
	<center class="mt-5">
		<span class="alert alert-success">Şifre sıfırlama linki sistemde kayıt olan e-posta adresinize gönderildi.Lütfen kontrol edin.</span>
		<br>
		<br>
		<br>
		<a href="{% url 'Login' %}" id="ReturnLogin">Giriş Ekranına Dön</a>
	</center>
	<script src="{% static 'js/bootstrap.js'%}"></script>

</body>
</html>
